In [38]:
import pandas as pd

In [39]:
dados=pd.read_csv('Dados/aluguel_residencial.csv', sep=';')

In [40]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [41]:
dados=dados.fillna({'Valor':0,'Condominio':0,'IPTU':0})

In [42]:
dados['Valor Bruto']=dados['Valor']+dados['Condominio']+dados['IPTU']

In [43]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0

In [44]:
dados['Valor m²']=(dados['Valor']/dados['Area']).round(2)

In [45]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14

In [46]:
dados['Valor Bruto m²']=(dados['Valor Bruto']/dados['Area']).round(2)

In [47]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,1200.0,17.14,17.14

In [48]:
casa=['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [49]:
dados['Tipo Agregado']=dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [50]:
del dados['Valor Bruto']
dados.pop('Valor Bruto m²')

0         56.50
1         70.00
2         80.67
3         21.46
4         17.14
5         32.36
6         29.33
7         15.38
8         33.33
9         31.66
10        21.88
11        65.28
12        85.22
13        65.03
14        17.39
15        23.67
16        36.36
17        24.89
18        21.88
19        24.56
20        34.62
21        76.50
22        32.23
23        35.43
24        30.00
25        42.63
26        33.99
27        42.78
28        28.08
29        50.18
          ...
22550     48.16
22551     50.14
22552     45.61
22553     23.03
22554     45.56
22555     23.00
22556     18.92
22557     25.80
22558     31.75
22559     33.78
22560     27.66
22561     40.64
22562    125.78
22563     69.86
22564     49.40
22565     47.15
22566     34.33
22567     57.86
22568     26.59
22569     90.27
22570     53.24
22571    113.33
22572     49.46
22573     29.81
22574     42.32
22575     20.54
22576     43.52
22577     33.85
22578     40.54
22579     53.71
Name: Valor Bruto m², Length: 22580, dtype: float64

In [51]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0,17.14,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
8,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0,33.33,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,Casa
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,15.62,Apartamento
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,24.00,Apartamento
24,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,30.00,Casa
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0,32.89,Apartamento
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0,26.46,Apartamento
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0,30.56,Apartamento
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0,21.90,Apartamento
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0,35.45,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
22550,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0,36.36,Apartamento
22551,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0,25.00,Apartamento
22552,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0,34.48,Apartamento
22553,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0,17.39,Apartamento
22554,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0,27.42,Apartamento
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0,20.00,Casa
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,0.0,12.70,Apartamento
22557,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0,8.33,Apartamento
22558,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,31.25,Casa
22559,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0,27.78,Apartamento
22560,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0,20.00,Apartamento
22561,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0,28.21,Apartamento
22562,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0,86.00,Apartamento
22563,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0,58.57,Apartamento
22564,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0,39.00,Apartamento
22565,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0,26.47,Apartamento
22566,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0,23.47,Apartamento
22567,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0,39.29,Apartamento
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0,17.61,Apartamento
22569,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,37.50,Apartamento
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,100.00,Apartamento
22572,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,35.71,Apartamento
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,19.23,Apartamento
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,33.33,Casa
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [52]:
dados.to_csv('Dados/aluguel_residencial.csv', sep=';', index=False)